@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-purple-50/50 dark:bg-black;
}

header {
  @apply z-10 fixed dark:bg-neutral-950 border-b border-transparent dark:border-neutral-800 bg-white shadow-[5px_12px_20px_rgba(36,37,38,0.075)] h-16 w-full flex items-center justify-between px-8;
}

.header-button::after {
  content: "";
  background-color: #a855f7;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.header-button:hover::after {
  transform: scaleX(1);
}

@font-face {
  font-family: "Raleway";
  src: url("./font/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

.open {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.gray-icon {
  @apply p-2.5 h-4 w-4 text-neutral-400 dark:text-neutral-600;
}

.search-input {
  @apply dark:bg-neutral-900 bg-neutral-100 items-center flex rounded-full dark:border-neutral-800 border-neutral-200 w-full;
}

.text-input {
  @apply flex items-center justify-between bg-neutral-100 dark:bg-neutral-900 focus-within:border-neutral-400 dark:focus-within:border-neutral-600 border rounded-xl dark:border-neutral-800 border-neutral-200 relative;
}

.center-modal {
  @apply flex fixed inset-0 items-center justify-center px-8;
}

.transparent-background {
  @apply bg-black/50 dark:bg-white/25 backdrop-blur-[2px];
}

.opacity-transition {
  @apply transition-opacity duration-500;
}

.card {
  @apply dark:bg-neutral-950 border border-transparent dark:border-neutral-800 shadow-[5px_12px_20px_rgba(36,37,38,0.075)] bg-white relative rounded-xl w-full p-2;
}

.alt-card {
  @apply dark:bg-neutral-950 bg-white rounded-xl w-full border dark:border-neutral-800 border-neutral-200 p-2  cursor-pointer flex gap-4 items-center;
}

.transition {
  @apply transition-all duration-200 ease-in-out;
}

.modal-card {
  @apply relative w-[30rem] p-8 rounded-xl dark:bg-neutral-950 border border-transparent dark:border-neutral-800 bg-white z-50 flex flex-col gap-8 max-h-full items-center overflow-y-scroll;
}

.light-btn-bg {
  @apply p-2.5 flex gap-4 items-center dark:hover:bg-neutral-800 hover:bg-white w-full h-fit rounded-xl hover:shadow-[5px_12px_20px_rgba(36,37,38,0.075)] cursor-pointer;
}

/* Titles */

.first-title {
  @apply font-['Raleway'] text-2xl font-bold text-zinc-800 dark:text-zinc-200;
}

.second-title {
  @apply text-xl text-zinc-800 dark:text-zinc-200 font-['Raleway'] font-bold;
}

.third-title {
  @apply text-xl text-zinc-800 dark:text-zinc-200 font-['Raleway'] font-medium;
}

.fourth-title {
  @apply text-zinc-400 dark:text-zinc-600 font-['Raleway'] font-semibold;
}

/* Texts */

.dark-text {
  @apply dark:text-neutral-600 text-neutral-400 text-sm font-['Raleway'];
}

.smaller-dark-text {
  @apply dark:text-neutral-600 text-neutral-400 font-['Raleway'] font-medium text-xs;
}

.default-text {
  @apply text-sm font-['Raleway'] font-medium text-neutral-600 dark:text-neutral-400;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #d4d4d4;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
