@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  src: url("./font/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-purple-50/50 dark:bg-black antialiased font-['Raleway'];
}

header {
  @apply z-10 fixed dark:bg-neutral-950 bg-white shadow-[5px_12px_20px_rgba(36,37,38,0.075)] border-b border-transparent dark:border-neutral-800 h-16 w-full flex gap-4 items-center justify-between px-6;
}

.open {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.logo {
  @apply text-lg dark:text-neutral-200 text-neutral-800 font-['Raleway'] font-medium uppercase truncate;
}

.gray-icon {
  @apply p-2.5 h-4 w-4 text-neutral-400 dark:text-neutral-600;
}

.center-modal {
  @apply flex fixed inset-0 items-center justify-center p-6;
}

.center {
  @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.transparent-background {
  @apply bg-neutral-500/75 dark:bg-neutral-500/25 backdrop-blur-sm;
}

.transition {
  @apply transition-all duration-200 ease-in-out;
}

.page-content {
  @apply px-6 py-8 w-full max-w-[70rem];
}

.scrollbar-hide {
  /* Firefox */
  scrollbar-width: none;

  /* IE et Edge */
  -ms-overflow-style: none;
}

/* Chrome, Safari et Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/***************/
/* Feed colors */
/***************/

.feed-yellow {
  @apply bg-yellow-500 shadow-md shadow-yellow-500/50;
}

.feed-teal {
  @apply bg-teal-500 shadow-md shadow-teal-500/50;
}

.feed-red {
  @apply bg-red-500 shadow-md shadow-red-500/50;
}

.black-and-white {
  @apply text-white dark:text-black;
}

/*************/
/* Bg colors */
/*************/

.bg-purple-shadow {
  @apply bg-purple-500 dark:bg-purple-700 shadow-md dark:shadow-purple-700/50 shadow-purple-500/50;
}

.bg-teal {
  @apply dark:bg-teal-900/50 bg-teal-100/50 text-teal-500;
}

.bg-purple {
  @apply dark:bg-purple-900/50 bg-purple-100/50 text-purple-500;
}

.bg-yellow {
  @apply dark:bg-yellow-900/50 bg-yellow-100/50 text-yellow-500;
}

.bg-indigo {
  @apply dark:bg-indigo-900/50 bg-indigo-100/50 text-indigo-500;
}

.bg-red {
  @apply dark:bg-red-900/50 bg-red-100/50 text-red-500;
}

/****************/
/* Bg templates */
/****************/

.bg-icon-squared {
  @apply rounded-xl flex items-center justify-center p-4 w-fit;
}

.bg-icon-rounded {
  @apply rounded-full flex items-center justify-center p-4 w-fit;
}

.skeleton {
  @apply bg-neutral-200 dark:bg-neutral-800 rounded-full;
}

/***********/
/* Borders */
/***********/

.border-teal {
  @apply dark:border-teal-900 border-teal-100 border;
}

.border-red {
  @apply dark:border-red-900 border-red-100 border;
}

.border-yellow {
  @apply dark:border-yellow-900 border-yellow-100 border;
}

.border-color {
  @apply dark:border-neutral-800 border-neutral-200;
}

/*********/
/* Cards */
/*********/

.card {
  @apply dark:bg-neutral-950 shadow-[5px_12px_20px_rgba(36,37,38,0.075)] border border-transparent dark:border-neutral-800 bg-white relative rounded-xl w-full p-2;
}

.alt-card {
  @apply border border-neutral-200 dark:border-neutral-800 dark:bg-neutral-950 bg-white rounded-xl w-full p-2 cursor-pointer flex gap-4 items-center;
}

.modal-card {
  @apply border border-transparent dark:border-neutral-800 relative w-full max-w-[30rem] p-8 rounded-2xl dark:bg-neutral-950 bg-white z-50 flex flex-col gap-8 items-center;
}

/**********/
/* Inputs */
/**********/

input {
  @apply px-2 w-full h-full outline-none border-none font-medium text-sm dark:placeholder:text-neutral-600 placeholder:text-neutral-400 dark:text-neutral-400 text-neutral-600;
}

textarea {
  @apply text-sm font-medium p-3 relative resize-none w-full min-h-32 bg-neutral-100 dark:bg-neutral-900 rounded-xl dark:placeholder:text-neutral-600 placeholder:text-neutral-400 dark:text-neutral-400 text-neutral-600;
}

.search-input,
.submit-input,
.text-input {
  @apply relative flex items-center w-full bg-neutral-100 dark:bg-neutral-900;
}

.search-input,
.submit-input {
  @apply rounded-full;
}

.text-input {
  @apply rounded-xl h-10;
}

.search-input input,
.submit-input input,
.text-input input {
  @apply h-full bg-transparent;
}

input:focus,
textarea:focus,
.input-btn:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.text-input input:-webkit-autofill,
.text-input input:-webkit-autofill:hover,
.text-input input:-webkit-autofill:focus,
.text-input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
  -webkit-text-fill-color: #525252 !important;
  box-shadow: 0 0 0 30px #f5f5f5 inset !important;
  background-color: #f5f5f5 !important;
}

.dark .text-input input:-webkit-autofill,
.dark .text-input input:-webkit-autofill:hover,
.dark .text-input input:-webkit-autofill:focus,
.dark .text-input input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #171717 inset !important;
  -webkit-text-fill-color: #a3a3a3 !important;
  box-shadow: 0 0 0 30px #171717 inset !important;
  background-color: #171717 !important;
}

/***********/
/* Buttons */
/***********/

.heavy-purple-btn {
  @apply p-2 w-full flex gap-2 items-center transition-all ease-in-out min-h-10 text-white dark:bg-purple-700 bg-purple-500 shadow-md dark:shadow-purple-700/50 shadow-purple-500/50 rounded-xl cursor-pointer hover:opacity-75 disabled:opacity-50;
}

.heavy-purple-btn p {
  @apply font-medium text-sm overflow-hidden text-ellipsis;
}

.light-btn {
  @apply p-2.5 flex gap-4 items-center dark:hover:bg-neutral-800 hover:bg-white w-full h-fit rounded-xl hover:shadow-[5px_12px_20px_rgba(36,37,38,0.075)] cursor-pointer;
}

.light-btn .icon {
  @apply h-4 w-4 p-2.5 dark:bg-neutral-900 bg-purple-100 rounded-xl dark:text-purple-700 text-purple-300 group-hover:text-purple-500 flex items-center;
}

.light-btn .red-icon {
  @apply h-4 w-4 p-2.5 dark:bg-neutral-900 bg-red-100 rounded-xl dark:text-red-700 text-red-300 group-hover:text-red-500 flex items-center;
}

.text-purple-btn {
  @apply transition text-sm text-purple-500 font-semibold hover:opacity-75 cursor-pointer break-words;
}

.gray-btn {
  @apply rounded-xl w-fit dark:text-neutral-600 text-neutral-400 flex gap-2 items-center justify-center font-medium cursor-pointer hover:opacity-75 transition;
}

.gray-btn-bg {
  @apply dark:bg-neutral-900 bg-neutral-100;
}

.header-button {
  @apply min-h-10 px-1 font-medium text-sm flex items-center justify-center h-full w-fit relative cursor-pointer dark:text-neutral-400 text-neutral-600 hover:text-neutral-800 dark:hover:text-neutral-200;
}

.header-button::after {
  content: "";
  background-color: #a855f7;
  bottom: 0;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.header-button:hover::after {
  transform: scaleX(1);
}

.radio-btn {
  @apply dark:text-neutral-700 text-neutral-300 dark:hover:text-neutral-400 hover:text-neutral-600 flex gap-2 items-center justify-center rounded-xl cursor-pointer w-fit;
}

.multiple-btn {
  @apply flex flex-col p-2 rounded-xl backdrop-blur-sm bg-neutral-100/75 dark:bg-neutral-900/75;
}

.btn-description {
  @apply transition z-50 rounded-md py-2 px-4 whitespace-nowrap;
}

.btn-description p {
  @apply text-sm font-medium text-neutral-200;
}

.more-btn {
  @apply dark-text w-fit hover:underline;
}

/**********/
/* Titles */
/**********/

h1 {
  @apply text-2xl font-bold text-zinc-800 dark:text-zinc-200;
}

h2 {
  @apply text-xl text-zinc-800 dark:text-zinc-200 font-bold;
}

h3 {
  @apply text-xl text-zinc-800 dark:text-zinc-200 font-medium;
}

h4 {
  @apply text-zinc-400 dark:text-zinc-600 font-semibold;
}

.highlight-card-title {
  @apply font-semibold dark:text-neutral-200 text-neutral-800;
}

.title-border-bottom {
  @apply border-b border-color pb-4;
}

/*********/
/* Texts */
/*********/

.dark-text {
  @apply dark:text-neutral-600 text-neutral-400 font-medium text-sm;
}

.smaller-dark-text {
  @apply dark:text-neutral-600 text-neutral-400 font-medium text-xs;
}

.default-text {
  @apply text-sm font-medium text-neutral-600 dark:text-neutral-400;
}

.text-error {
  @apply text-red-400 text-xs font-medium;
}

.text-purple {
  @apply text-purple-500 font-bold;
}

.highlight-card-text {
  @apply text-sm font-medium dark:text-neutral-200 text-neutral-800;
}

/* HTML: <div class="loader"></div> */
.loader {
  @apply bg-neutral-200 p-[8px] w-[50px] rounded-[50%];
  aspect-ratio: 1;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
